{% extends "admin/master.html.twig" %}

{% block title %}Add Destination
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="/styles/addDestinations.css">
	<script src="scripts/nav.js"></script>
	{{ parent() }}
{% endblock %}

{% block content %}

	{% if errorList %}
		<ul>
			{% for error in errorList %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<section class="section p-5">
		<div class="container">

			<form class="form" method="post" enctype="multipart/form-data">
				<h3>{% if op == 'add' %}Add{% else %}Edit{% endif %} Destination</h3>
				<div class="formContainer">
					<label>Destination Name</label>
					<input class="title" type="text" name="destination_name" value="{{ destination.destination_name }}">
					<div class="redText">{{errors.destination_name}}</div>

					<label>Destination Description</label>
					<textarea id="textBody" name="destination_description">{% autoescape %}{{destination.destination_description|raw}}{% endautoescape %}</textarea>
					<div class="redText">{{errors.destination_description}}</div>

					<label>Add Photo:</label>
					<input type="file" name="photo">
					<div class="redText">{{errors.photo}}</div>

					<div class="submitButtonBox">
						<input class="submitButton" type="submit" name="submit" value="Submit">
					</div>
				</div>
			</form>
		</div>
	</section>

{% endblock content %}