{% extends "admin/master.html.twig" %}

{% block title %}Delete User
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="/styles/addDestinations.css">
	<script src="scripts/nav.js"></script>
	{{ parent() }}
{% endblock %}

{% block content %}

	<section class="section p-5">
		<div class="container">
				<br/><br/><br/><br/>
				<h3>Delete User</h3>
					User ID: &nbsp;{{user.id}}<br/>
					User First Name: &nbsp;{{user.first_name}}<br/>
					User Last Name: &nbsp;{{ user.last_name }}<br/>
					User Email:&nbsp;{{ user.email }}<br>
					User Phone:&nbsp; {{user.phone_number}}<br/>
                    User Type:&nbsp; {{ user.account_type }}<br/>
                <form method="POST">   
					<div class="submitButtonBox">
						<br/><br/>
                        <p><strong>Please confirm the deletion of this user</strong></p>
						<input class="submitButton" type="submit" value="Yes, Delete">
					</div>
				</div>
			</form>
            <a href="/admin/users/list">Cancel - Go Back to List</a>
		</div>
	</section>
{% endblock content %}